canvas{
    border:1px solid black;
    width:800px;
    height:800px;
    background-color: rgb(43, 65, 38);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 10, 10);
}




